body {
  margin: 0;
  padding: 0;
  background-color: #EEF;
  font-family: Georgia;
  font-size: 18px;
}

h1, h2 {
  padding: 0;
  text-align: center;
}

h1 {
  margin: 60px 0 15px 0;
  font-size: 40px;
}

h2 {
  margin: 60px 0 30px 0;
}

h2.main-subheading {
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 40px;
}

.niki-and-gus {
  width: 100%;
  object-fit: contain;
}

p {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 28px;
}

.content {
  max-width: 540px;
  background-color: #FFF;
  margin: 0 auto;
  padding: 20px 40px;
  border-left: 1px solid #8C8CFE;
  border-right: 1px solid #8C8CFE;
}
  //padding: 20px 100px;

footer {
  border-top: 2px solid #CCC;
  margin-top: 60px;
  padding: 40px 0 30px 0;
  color: #888;
  font-size: 16px;
  line-height: 22px;
}

a, a:visited {
  color: #8C8CFE;
}

.logo {
  display: block;
  margin: 20px auto 80px auto;
  width: 183px;
  height: 185px;
}
